
body {
    background: black;
    color: var(--color-main);
    padding: 0;
    margin: 0;
}

.content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    margin: 0;
    padding: 20px 30px;
    font-size: 18px;
    line-height: 35px;
    border: none;
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.glitch {
    position: absolute;
    left: 0;
    top: 0;
    --color-main: hsl(270, 100%, 100%);
    color: var(--color-main);
    z-index: -100;
}



.left-panel {
	min-width: 278px;
	max-width: 278px;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.settings {
    width: 100%;
    left: 0;
    bottom: 0;
}

.snake-score {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.row-theme {
    width: 100%;
}

.snake-container {
	width: 100%;
	height: 100%;
}
.snake {
	position: relative;
	width: 100%;
	height: 100%;
    box-sizing: border-box;
}
.snake.active {
    border: 2px solid var(--color-main);
}
.snake_cell {
	position: absolute;
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.snake_meal {
    width: 8px;
    height: 8px;
    background: var(--color-main);
}

.snake_dubug {
	position: absolute;
	/*padding: 3px;*/
	z-index: 500;
	font-size: 12px;
	color: black;
    line-height: 11px;
    background: black;
    font-weight: bold;
	width: 12px;
	height: 20px;
}

.left-panel_content {
    height: 100%;
	width: 100%;
}

.left-panel_top {
    line-height: 1em;
    display: flex;
    justify-content: space-between;
}

.logo {
    float: left;
}

.snake_score {
}

.snake_score-row {
    display: flex;
    align-items: center;

}
.snake_score-label {
    width: 70px;
}
.snake_score-value {
    text-align: end;
    line-height: 1em;
    height: 1em;
    overflow: hidden;
    display: flex;
}
.snake_score-value-inner {
    margin-top: 0;
    transition: margin 1s;
    width: 10px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links a {
    white-space: nowrap;
}



.decor-input {
    animation: blink 1s linear infinite;
}
@keyframes blink {
    50% { opacity: 1 }
    51% { opacity: 0 }
    100% { opacity: 0 }
}

.snake_tail {
    position: absolute;
    background: var(--color-main);
}
.snake_tail.up {
    left: 4px;
    bottom: 4px;
    width: 20px;
    height: 40px;
}
.snake_tail.down {
    left: 4px;
    top: 4px;
    width: 20px;
    height: 40px;
}
.snake_tail.left {
    right: 4px;
    top: 4px;
    width: 40px;
    height: 20px;
}
.snake_tail.right {
    left: 4px;
    top: 4px;
    width: 40px;
    height: 20px;
}
.snake_tail.head {
    left: 4px;
    top: 4px;
    width: 20px;
    height: 20px;
}